@import '../../../assets/lib/colors';

ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

img {
  width: 60%;
}

.text {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    transition: all 2s linear;
    position: absolute;
  }
}

.czech {
  left: -100%;
  width: 29%;
}

.crypto {
  top: 100%;
  width: 47%;
}

.community {
  left: 100%;
  width: 18%;
}

.progresive {
  top: -100%;
  width: 79%;
}

.move {
  .progresive {
    left: 7%;
    top: 30%;

    @media only screen and (max-width: 850px) {
      top: 40%;
    }
  }

  .czech {
    left: 15%;
    top: 40%;

    @media only screen and (max-width: 850px) {
      top: 50%;
    }
  }

  .crypto {
    left: 30%;
    top: 42%;

    @media only screen and (max-width: 850px) {
      top: 52%;
    }
  }

  .community {
    left: 64%;
    top: 49%;

    @media only screen and (max-width: 850px) {
      top: 59%;
    }
  }
}


::ng-deep {
  .carousel-indicators {
    bottom: 10%;

    li {
      width: 10px;
      height: 10px;
      border-radius: 50px;
      border: none;
      background: none;
    }
  }
}
