<div class="feed-wrapper">
  <div class="items">
    <div class="item" *ngFor="let item of items">
      <img [class.autoWidth]="autoWidth" [src]="item.image">
      <h2 class="font-blue bold"><a [href]="item.link">{{item.title}}</a></h2>
      <p>{{item.description}}</p>
      <a class="a-button" [href]="item.link">
        <button class="bc-btn empty">{{'ACTION.READ_MORE' | translate}}</button>
      </a>
    </div>
  </div>
  <a class="a-button" [href]="allItemsUrl">
    <button class="bc-btn full">{{'ACTION.ALL_ARTICLES' | translate}}</button>
  </a>
</div>
