@import '../../../assets/lib/colors';

.feed-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25px;
  justify-content: space-evenly;
  width: 100%;

  .item {
    width: 300px;
    margin: 5px 15px;

    p {
      height: 150px;
    }

    a {
      height: 60px;
      display: block;
      color: $color-blue;
      text-transform: uppercase;
      margin-top: 15px;

      &:hover {
        color: $color-gold;
      }
    }

    img {
      width: 100%;
      height: 185px;
      object-fit: cover;

      &.autoWidth {
        width: 100%;
        height: auto;
      }
    }
  }
}

.full {
  margin-top: 30px;
}

.a-button {
  &:hover {
    text-decoration: none;
  }
}
