@import '../../../assets/lib/colors';

.header-wrapper {
  background: $color-blue;
  color: white;
  display: flex;
  align-items: center;
  height: 68px;

  .items {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }

  a {
    text-transform: uppercase;
    cursor: pointer;
    color: white;

    &:hover {
      color: $color-gold;
    }

    &.lang-selector {
      margin-right: 40px;
    }
  }

  img {
    height: 30px;
    margin: 0 40px;
  }
}
