@import '../../../../assets/lib/colors.scss';

section {
  padding: 35px 40px;
  position: relative;

  .main-title {
    text-align: center;
    z-index: 5;

    h1 {
      font-size: 32px;
      margin-bottom: 45px;

      @media only screen and (max-width: 850px) {
        font-size: 26px !important;
      }
    }
  }

  .main-title, .about > div {
    @media only screen and (min-width: 1000px) {
      margin-bottom: 70px;
    }
  }

  &.base {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .separator {
      width: 210px;
      height: 100%;
      display: block;
    }

    @media only screen and (max-width: 600px) {
      .primary, .secondary {
        display: flex;
      }
    }

    @media only screen and (max-width: 850px) {
      .info {
        margin-right: 0;
      }
    }

    @media only screen and (max-width: 1500px) {
      .separator {
        display: none;
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: justify;

      @media only screen and (max-width: 600px) {
        display: block;
      }

      @media only screen and (max-width: 850px) {
        flex-direction: column;
      }

      .info {
        flex: 5;
        margin-right: 30px;
      }

      .social {
        z-index: 2;
        flex: 5;
        display: flex;
        flex-direction: column;

        .header {
          h1 {
            margin-bottom: 0;
          }
        }

        .primary, .secondary {
          display: flex;
        }

        .primary {

          flex-wrap: wrap;
          z-index: 2;
          margin: 50px;
          justify-content: space-between;
          align-items: center;

          @media only screen and (max-width: 600px) {
            justify-content: center;

            margin: 18px;

            a {
              margin: 20px;
            }
          }

          .icon {
            display: block;
            width: 80px;
            height: 100px;
            margin: 0 60px;

            fa-icon {
              display: block;
              width: 70px;
              height: 80px;
              font-size: 80px;
            }
          }
        }

        .secondary {
          justify-content: space-between;
        }

        .icon {
          z-index: 2;
          display: block;
          width: 40px;
          height: 40px;

          fa-icon {
            display: block;
            width: 32px;
            height: 32px;
            font-size: 32px;
            color: $color-blue;

            &:hover {
              color: $color-gold;
            }
          }
        }
      }
    }

  }
}

.footer-part {
  background: linear-gradient($color-background, $color-gold);
  padding: 0 20px;

  .sub-section {
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0;

    .title {
      height: 45px;

      @media only screen and (max-width: 650px) {
        height: 35px;
      }

      &.contributors {
        height: 55px;

        @media only screen and (max-width: 650px) {
          height: 50px;
        }
      }
    }
  }

  .list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    flex-wrap: wrap;

    &.heigher {
      margin-top: 30px;
    }

    .partner {
      img {
        height: 55px;

        @media only screen and (max-width: 850px) {
          height: 49px;
        }
      }
    }

    .contributor, .partner {
      &:hover {
        transform: scale(1.1);
      }
    }

    img {
      height: 40px;

      &.widthOriented {
        height: auto;
        width: 50px;
      }

      margin: 20px;

      &.autoWidth {
        width: 100%;
      }
    }
  }

  h4 {
    margin: auto;
    padding: 25px;
  }

  .support {
    display: flex;
    margin: 10px 0;

    .content {
      @media only screen and (max-width: 600px) {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

        button {
          margin: 20px 0;
        }
      }

      .nft {
        display: inline;
      }
    }

    .bordered {
      border: .4px solid $color-blue;
      padding: 2px;

      @media only screen and (max-width: 850px) {
        font-size: 12px;
      }
    }

    button {
      background: $color-blue;
      color: $color-gold;

      &:hover {
        background: $color-background;
        color: $color-gold;
      }
    }

    .content {
      background: $color-gold;
      position: absolute;
      width: 100%;
      left: 0;
      padding: 5px 20px;
      padding-bottom: 30px !important;

      a {
        //margin-left: 10px;
        text-decoration: none;

        &:hover {
          color: $color-background;
          text-decoration: none;
        }
      }

      button {
        margin-left: 15px;
        display: inline-block;
        padding: 0;
        color: $color-gold;

        &:hover {
          color: $color-blue;
          background: $color-background;
        }
      }
    }

    .est {
      width: 100%;
      margin: 5px 0;
      display: flex;
      justify-content: center;
      font-weight: 100;
      font-size: 15px;
    }
  }
}

.about {
  line-height: 32px;

  .vertical-separator {
    display: block;
    height: 50px;
  }

  .left-allignment {
    text-align: left;
  }
}

.icon-telegram {
  content: url('../../../../assets/image/icon/telegram-blue.png');
  cursor: pointer;

  &:hover {
    content: url('../../../../assets/image/icon/telegram-gold.png');
  }
}

.icon-discord {
  content: url('../../../../assets/image/icon/discord-blue.png');
  cursor: pointer;

  &:hover {
    content: url('../../../../assets/image/icon/discord-gold.png');
  }
}

h1, h3, h4, h5 {
  text-align: center;
}

.video {
  background-color: $color-blue;
}

.sub-title {
  margin-bottom: 35px;
}

img.fullscreen {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10%;
  top: 0;
  left: 0;
  opacity: .03;
  z-index: -1;
}
