<section class="base">
  <div class="header">
    <h1>
      <span class="font-blue">Ananas blabla mango </span>
      <span class="font-gold"> tekvica domaca</span> pazitka.
    </h1>
    <h4 class="sub-title">
      Blablablablabla
    </h4>
  </div>

  <div class="content">
    <div class="info">
      <div class="about">
        Nunc lobortis, nisl a iaculis dictum, eros magna vehicula velit, eget vehicula tortor ex molestie mi. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas rhoncus ac dui et
        volutpat. Integer sit amet risus libero. Proin ipsum turpis, consectetur sit amet ultricies non, ullamcorper non
        nunc. Nunc a arcu metus. Integer eleifend mauris diam. Praesent vitae faucibus magna, vel ultrices justo. Sed ac
        massa in mi pulvinar dictum. Nulla consectetur, est euismod efficitur fringilla, odio velit interdum libero,
        vitae venenatis magna arcu eget neque.
      </div>

      <div class="extra">
        Etiam et orci vehicula, luctus lorem sed, accumsan sem. Morbi rhoncus condimentum libero nec pellentesque.
        Aliquam pharetra tortor nec lorem imperdiet, sed.
      </div>
    </div>

    <div class="social">
      <h3 class="font-blue">JOIN US:</h3>
      <div class="primary">
        <a *ngFor="let social of mainSocial" class="icon" [href]="social.link">
          <fa-icon [icon]="social.icon"></fa-icon>
        </a>
      </div>

      <div class="secondary">
        <a *ngFor="let social of secondarySocial" [href]="social.link" class="icon">
          <fa-icon [icon]="social.icon"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="video">
  <app-video-carousel [videos]="youtubeItems$ | async"></app-video-carousel>
</section>

<section class="feed">
  <app-feed-list [allItemsUrl]="'https://www.youtube.com/channel/UCPjDQhKVe2YtPUI3PiWN82A'"
                 [autoWidth]="true"
                 [items]="youtubeItems$ | async"></app-feed-list>
</section>

<section class="feed">
  <app-feed-list [allItemsUrl]="'http://medium.com/bitcoach'"
                 [items]="mediumItems$ | async"></app-feed-list>
</section>

<section class="footer-part">
  <div class="sub-section">
    <h3>Early Contributors</h3>
    <div class="list">
      <img *ngFor="let contributor of contributors" [src]="contributor"/>
    </div>
  </div>

  <div class="sub-section">
    <h3>Partners</h3>
    <div class="list">
      <img *ngFor="let contributor of contributors" [src]="contributor"/>
    </div>
  </div>

  <div class="sub-section">
    <div class="divider"></div>
    <h4>Podporujeme cez krypto mnozstvo veci. Napr pohyb a vzdelavannie.</h4>
    <div class="divider"></div>
  </div>

  <div class="support">
    <div class="content">
      <span class="bold">SUPPORT US: <span class="address">0x858769b582f83097D19443C31714AfcC12DE863D</span></span>
      <button class="bc-btn full">Bitcoach NFT</button>
    </div>
  </div>
</section>
