/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';
@import './assets/lib/colors';

@import 'assets/fonts/_font.scss';
// primary font
$primary_font: 'Montserrat';
$headline_font: 'Roboto';
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;

// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  background-color: $color-background !important;
  font-size: $primary-fs !important;
  font-weight: $regular !important;
}

body {
  margin: 0;
  background-color: $color-background !important;

  h1,h2,h3,h4,h5 {
    font-family: $headline_font !important;
    font-weight: $black !important;
  }

  h1 {
    text-transform: uppercase !important;
  }
}

p, a, div {
  font-family: $primary_font;
}

.font-gold {
  color: $color-gold;
}

.font-blue {
  color: $color-blue;
}

.font-white {
  color: white;
}

h1.title {
  font-size: 32px !important;
  margin: 50px 0;

  @media only screen and (max-width: 850px) {
    font-size: 26px !important;
  }

  span {
    cursor: default;
  }
}

h1.title-with-subtitle {
  font-size: 32px !important;
  margin-bottom: 15px !important;
  margin-top: 50px !important;

  @media only screen and (max-width: 850px) {
    font-size: 26px !important;
  }
}

.sub-title {
  font-family: $primary_font !important;
  font-weight: $light !important;
  font-style: italic !important;
}

.bold {
  font-family: $primary_font !important;
  font-weight: $bold !important;
}

button, a {
  transition: all .3s;
}

.bc-btn {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  padding: 8px;
  border-radius: 4px;

  &.empty {
    border: 1px solid $color-blue;
    color: $color-blue;

    &:hover {
      color: $color-gold;
      border: 1px solid $color-gold;
    }
  }

  &.full {
    border: 1px solid $color-blue;
    color: white;
    background: $color-blue;

    &:hover {
      border: 1px solid $color-gold;
      background: $color-gold;
    }
  }
}

.divider {
  border-top: .7px solid $color-blue;
  display: block;
  width: 100%;
}
